version: '3.8'

services:
  # Layanan Database PostgreSQL
  postgres:
    image: postgres:15-alpine
    container_name: cbt_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: cbt_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped



volumes:
  postgres_data:
    driver: local